/* login text */
.text {
  margin-top: 5px;
  font-size: x-large;
  padding-top: 10px;
}

/* Custom hr tag*/
.hr {
  height: 2px;
  width: auto;
  background-color: #e8e6e6;
  margin-bottom: 10px;
}

/* Input */
#basic-addon1 {
  border-radius: 0%;
  border: none;
  background-color: rgb(240, 240, 240) !important;
}

input {
  border: transparent !important;
  border-radius: 0% !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  font-size: 15px !important;
  background-color: rgb(240, 240, 240) !important;
}

input:focus {
  box-shadow: none !important;
}

/* Login Button */
button {
  background-color: #57b846 !important;
  border: none !important;
  border-radius: 0% !important;
  outline-color: transparent !important;
  box-shadow: none !important;
}

button:hover {
  background-color: #333433 !important;
}

/* Disable Button */

:disabled {
  cursor: not-allowed !important;
}

/* or text */
.or {
  margin: 10px;
}
